doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // SEO Meta description
    meta(name='description' content='تطبيق كالوريستا')
    meta(name='author' content='Motajer')
    // OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+
    meta(property='og:site_name' content='تطبيق كالوريستا')
    // website name
    meta(property='og:site' content='http://caloriesta.net')
    // website link
    meta(property='og:title' content='تطبيق كالوريستا')
    // title shown in the actual shared post
    meta(property='og:description' content='تطبيق كالوريستا')
    // description shown in the actual shared post
    meta(property='og:image' content='http://caloriesta.net')
    // image link, make sure it's jpg
    meta(property='og:url' content='http://caloriesta.net')
    // where do you want your post to link to
    meta(property='og:type' content='article')
    // title
    title تطبيق كالوريستا
    // favicon icon
    link(rel='icon' href='/img/favicon.png' type='image/png' sizes='16x16')
    // Bootstrap css
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    // Magnific popup css
    link(rel='stylesheet' href='/css/magnific-popup.css')
    // Themify icon css
    link(rel='stylesheet' href='/css/themify-icons.css')
    // animated css
    link(rel='stylesheet' href='/css/animate.min.css')
    // Owl carousel css
    link(rel='stylesheet' href='/css/owl.carousel.min.css')
    link(rel='stylesheet' href='/css/owl.theme.default.min.css')
    // custom css
    link(rel='stylesheet' href='css/style.css')
    // responsive css
    link(rel='stylesheet' href='/css/responsive.css')
  body
    // header section start
    header.header
      // start navbar
      nav.navbar.navbar-expand-lg.fixed-top.bg-transparent
        .container
          a.navbar-brand(href='/')
            img.img-fluid(src='/img/logo.png' width='120' alt='logo')
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.ti-menu
          #navbarSupportedContent.collapse.navbar-collapse.main-menu
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link.page-scroll(href='/') الرئيسية
              li.nav-item
                a.nav-link.page-scroll(href='#about') عن التطبيق
              li.nav-item
                a.nav-link.page-scroll(href='#features') المميزات
              li.nav-item
                a.nav-link.page-scroll(href='#download') حمل الان
              li.nav-item
                a.nav-link.page-scroll(href='#screenshots') الشاشات
     
    .main
      section.hero-section.hero-section-2.ptb-100
        .circles
          .point.animated-point-1
          .point.animated-point-2
          .point.animated-point-3
          .point.animated-point-4
          .point.animated-point-5
          .point.animated-point-6
          .point.animated-point-7
          .point.animated-point-8
          .point.animated-point-9
        .container
          .row.align-items-center.justify-content-between
            .col-md-6.col-lg-6
              .hero-content-left.ptb-100.text-white
                h1.text-white.font-weight-bold من أجل حياة أفضل
                p.lead
                  | تطبيق كالوريستا يساعدك على أن تعيش حياة أفضل, قم بطلب الوجبات الصحية بشكل دورى بالرجوع الى مختصى التغذية مع إمكانية الحصول على برامج متخصصة فى اللياقة البدنية كل هذا فى تطبيق واحد
                a.btn.app-store-btn(target='_blank' href='https://play.google.com/store/apps/details?id=co.bosla.tafahom') حمِّل التطبيق
            .col-md-6.col-lg-5
              .hero-animation-img
                img.img-fluid.d-block.animation-one(src='/img/app1.png' alt='animation image')
                img.img-fluid.d-block.animation-two(src='/img/app2.png' alt='animation image' width='500')
                //
                  <img class="img-fluid d-block animation-three" src="img/app2.png"
                  alt="animation image" width="500" >
                //
                  <img class="img-fluid d-none d-lg-block animation-four" src="img/app2.png"
                  alt="animation image" width="500">
      // hero section end
      // promo section start
      section#about.promo-section.ptb-100
        .container
          .row.justify-content-center
            div
              .section-heading.text-center.mb-5
                h2 تطبيق كالوريستا
                p.lead
                  | تهدينا التكنولوجيا الحديثة العديد من التطبيقات الذكية في مجال التغذية الصحية و الحفاظ على اللياقة و الرشاقة. تساعد هذه التطبيقات المستخدم على تتبع كمية الطعام و ممارسة الرياضة، و حساب السعرات الحرارية التي يحتاجها يومياً، و إدارة نظامه الغذائي بما أن إنقاص الوزن الزائد و الحصول على القوام الرشيق يعد من أولوياتنا لننعم بصحة جيدة.
          .row.equal
            .col-md-4.col-lg-4
              .single-promo.single-promo-hover.single-promo-1.rounded.text-center.white-bg.p-5.h-100
                .circle-icon.mb-3
                  img(src='/img/healthy-food.png')
                h5 وجبات صحية
                p جميع أنواع الوجبات الصحية محدد بكمية السعرات الحرارية.
            .col-md-4.col-lg-4
              .single-promo.single-promo-hover.single-promo-1.rounded.text-center.white-bg.p-5.h-100
                .circle-icon.mb-3
                  img(src='/img/prescription.png' alt='')
                h5 برامج تغذية
                p يجمع التطبيق جميع متخصصى التغذية فى مختلف التخصصات.
            .col-md-4.col-lg-4
              .single-promo.single-promo-hover.single-promo-1.rounded.text-center.white-bg.p-5.h-100
                .circle-icon.mb-3
                  img(src='/img/exercise.png' alt='' srcset='')
                h5 برامج رياضية
                p بمكنك مشاهدة برامج رياضية خاصة لتنشيط جسمك.
      // promo section end
      // about us section start
      section#features.about-us.ptb-100
        .container
          .row.align-items-center.justify-content-between
            .col-md-7
              .about-content-left.section-heading
                h2 من مميزات التطبيق
                .single-feature.mb-4.mt-5
                  .icon-box-wrap.d-flex.align-items-center.mb-2
                    .mr-3.icon-box
                      img.img-fluid(src='/img/star.png' alt='icon image')
                    p.mb-0
                      | تتبع كمية الطعام وممارسة الرياضة و حساب السعرات الحرارية التي تحتاجها يوميًا للوصول لهدفك.
                .single-feature.mb-4
                  .icon-box-wrap.mb-2
                    .mr-3.icon-box
                      img.img-fluid(src='/img/star.png' alt='icon image')
                    p.mb-0 إضافة الوصفات الخاصة بك وإمكانية حساب قيمتها الغذائية.
                  p
                .single-feature.mb-4
                  .icon-box-wrap.mb-2
                    .mr-3.icon-box
                      img.img-fluid(src='/img/star.png' alt='icon image')
                    p.mb-0 نصائح مجانية للصحة والنظام الغذائي من خبراء التغذية
                  p
                .single-feature.mb-4
                  .icon-box-wrap.mb-2
                    .mr-3.icon-box
                      img.img-fluid(src='/img/star.png' alt='icon image')
                    p.mb-0 نصائح مجانية لفقدان الوزن. مع برامج للتغذية.
                  p
            .col-md-5
              .about-content-right
                img.img-fluid(src='/img/banner.jpg' alt='about us')
      // about us section end
      // our video promo section start
      section#download.video-promo.ptb-100.background-img(style="background: url('/img/hero-bg-1.jpg')no-repeat center center / cover")
        .container
          .row.justify-content-center
            .col-md-6
              .video-promo-content.mt-4.text-center
                a.popup-youtube.video-play-icon.d-inline-block(href='https://www.youtube.com/watch?v=9No-FiEInLA')
                  span.ti-control-play
                h5.mt-4.text-white حمِّل التطبيق الآن
                .download-btn.mt-5
                  a.btn.google-play-btn.mr-3(href='https://play.google.com/store/apps/details?id=co.bosla.tafahom')
                    span.ti-android
                    |  Google
                    |                                     Play
                  a.btn.app-store-btn(href='https://play.google.com/store/apps/details?id=co.bosla.tafahom')
                    span.ti-apple
                    |  App Store
      
      section#screenshots.screenshots-section.ptb-100
        .container
          .row.justify-content-center
            .col-md-8
              .section-heading.text-center
                h2 بعض من شاشات التطبيق
          .screen-slider-content.mt-5
            .screenshot-frame
            .screen-carousel.owl-carousel.owl-theme.dot-indicator
              img.img-fluid(src='/img/screen1.png' alt='screenshots')
              img.img-fluid(src='/img/screen2.png' alt='screenshots')
              img.img-fluid(src='/img/screen3.png' alt='screenshots')
              img.img-fluid(src='/img/screen4.png' alt='screenshots')
              img.img-fluid(src='/img/screen5.png' alt='screenshots')
              img.img-fluid(src='/img/screen6.png' alt='screenshots')
           
    footer.footer-section.mb-4.mt-5
      // footer top start
      .footer-top.pt-50
        .container
          img.img-fluid.text-center.d-block.m-auto(src='/img/logo-b.png' alt='footer logo' width='120')
          p.text-center.mt-4(style='width: 80%; display: block; margin: auto;')
            | تطبيق كالوريستا يساعدك على أن تعيش حياة أفضل, قم بطلب الوجبات الصحية بشكل دورى بالرجوع الى مختصى التغذية مع إمكانية الحصول على برامج متخصصة فى اللياقة البدنية كل هذا فى تطبيق واحد
          .socials
            a(href='https://facebook.com/')
              img(width='30' src='/img/facebook.png' alt='facebook')
            a(href='https://twitter.com/')
              img(width='30' src='/img/twitter.png' alt='twiiter')
            a(href='https://snapchat.com/')
              img(width='30' src='/img/snapchat.png' alt='snapchat')
            a(href='https://tik-tok.com/')
              img(width='30' src='/img/tik-tok.png' alt='tik-tok')
              // footer top end
              // footer section end
              // jQuery
              script(src='/js/jquery-3.5.0.min.js')
              // Popper js
              script(src='/js/popper.min.js')
              // Bootstrap js
              script(src='/js/bootstrap.min.js')
              // Magnific popup js
              script(src='/js/jquery.magnific-popup.min.js')
              // jquery easing js
              script(src='/js/jquery.easing.min.js')
              // wow js
              script(src='/js/wow.min.js')
              // owl carousel js
              script(src='/js/owl.carousel.min.js')
              // countdown js
              script(src='/js/jquery.countdown.min.js')
              // validator js
              script(src='/js/validator.min.js')
              // custom js
              script(src='/js/scripts.js')
              script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js')
